*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;

}

body{

    background:#0F172A;
    color:#E2E8F0;

}

section{

    margin:120px auto;
    width:85%;
    max-width:1400px;

}

header{

    text-align:center;
    padding:80px 20px;

}

header h1{

    font-size:4rem;
    color:#4ADE80;

}

header p{

    margin-top:15px;
    color:#94A3B8;

}

.sobre{

    background:#1E293B;
    padding:40px;
    border-radius:25px;

}

.sobre h2{

    margin-bottom:25px;
    color:#4ADE80;

}

.sobre p{

    line-height:1.8;

}

.flashcards-section h2,
.quiz h2{

    color:#4ADE80;

}

.flashcards-section p,
.quiz p{

    margin-top:15px;
    color:#94A3B8;

}

.cards{

    margin-top:50px;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:40px;

}

.card{

    height:260px;

    position:relative;

    transform-style:preserve-3d;

    transition:1s;

    cursor:pointer;

}

.card:hover{

    transform:translateY(-10px);

}

.card.flip{

    transform:rotateY(180deg);

}

.front,
.back{

    position:absolute;

    width:100%;
    height:100%;

    border-radius:25px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:30px;

    backface-visibility:hidden;

    font-size:1.4rem;

    box-shadow:
    0 0 25px rgba(0,0,0,.3);

}

.front{

    background:#1E293B;

    border:2px solid #4ADE80;

}

.back{

    background:#22C55E;

    color:white;

    transform:rotateY(180deg);

}

.pergunta-box{

    margin-top:40px;

    background:#1E293B;

    padding:50px;

    border-radius:25px;

}

#contadorQuiz{

    color:#94A3B8;

    margin-bottom:25px;

    font-size:0.95rem;

    text-align:right;

}

.pergunta-box h3{

    margin-bottom:40px;

}

.alternativa{

    width:100%;

    margin-bottom:20px;

    padding:20px;

    border:none;

    border-radius:15px;

    background:#334155;

    color:white;

    cursor:pointer;

    transition:.3s;

}

.alternativa:hover{

    background:#4ADE80;

    color:black;

}

#resultado{

    margin-top:30px;

    font-size:1.2rem;

}
